/* video */
.video-view {
  position: relative;
  width: 800px;
  height: 500px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.video-view .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* home */
.home {
  display: flex;
  align-items: center;
  gap: 10rem;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 40rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #333;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--purple);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;
  line-height: 1.5;
}


/* Blog */
.blog {
  font-size: 5rem;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-left: 500px;
}


/* About */
.about {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  max-width: 75vh;
}