@import "site.css";
@import "nav.css";
@import "home.css";
@import "contact.css";
@import "catalog.css";
@import "details.css";
@import "blog.css";
@import "about.css";


:root {
  --white: #fff;
  --lavender: #db97f6;
  --black: #211522;
  --orchid: #733768;
  --gray: #333;
}